*{
    margin: 0;
    padding: 0;
}

@font-face{
	font-family: 'bricks';
	src: url("font/Oldion-3zdPM.otf");
}
mark {
    background-color: transparent; 
    color: cyan; 
}
 body{
	width: 100%;
	height: 100%; 
	background-image: url("slike/background.jpg");
	background-size: cover;
    }

#center{
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background: linear-gradient(to right,  #3399ff 0%, #000000 7%, #000000 93%, #3399ff 100%);
	border: 3px solid blue;	
    z-index: 1;
}
h1{
	position: fixed;
	top:50px;
	left:650px;
	font-size:100px;
	text-align: center;
	color:cyan;
	font-family: bricks;
	letter-spacing:5px;
}
p{
	position: fixed;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 15px;
    font-family: 'bricks';
    color:cyan;	
	letter-spacing:1px;
}
.tocke {
	padding-left: 40%;
	float: left;
	font-family: 'bricks';
	font-size: 2em;
    color: cyan;
}

.cas {
	padding-right: 40%;
	float: right;
	font-family: 'bricks';
	font-size: 2em;
    color: cyan;
}
.centriraj {
    width: 800px;
    height: 30px;
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.swal2-title {
    position: relative;
    color: cyan;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    font-family: "bricks";
}

.swal2-html-container {
    z-index: 1;
    justify-content: center;   
    color: cyan;
    font-size: 17px;
    text-align: center;
	letter-spacing:0.5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#musicButton{
	background-image: url('slike/muted.png');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	left: 47%;
	bottom:25px;
	border: solid black 1 px;
	border-radius: 8px;
	width: 45px;
	height: 45px; 
	background-color:transparent;
	border-color:transparent;
	z-index: 1;
 }
